header {
    border-radius: 50px;
    background-color: #FAA0A0;
    width: 600px;
    height: 50px;
    position: sticky;
    inset: 0;
    margin: auto;
}

.img {
    width: 45px;
    height: 45px;
    margin-left: 15px;
}