

.parent-photos {
    width:80%;
    position: sticky;
    inset: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

.photos-children {
    border-color: black;
    background-color: #AEC6CF;
    border-radius: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 white, 0 6px 10px 0 white;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}

.photos-children img{
    margin-top: 30px;
}